@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@font-face{
    font-family: Artisan-Paris;
    src: url(/fonts/ArtisanParis-Regular.otf);
}

@font-face{
    font-family: Lemon-Milk;
    src: url(/fonts/LEMONMILK-Regular.otf);
}

@font-face{
    font-family: feldberg;
    src: url(/fonts/Feldberg.ttf);
}

@font-face {
    font-family: virust;
    src: url(/fonts/VIRUST.ttf);
}

.satisfy-regular {
    font-family: "Satisfy", serif;
    font-weight: 400;
    font-style: normal;
  }



header {
    padding: 5%;
    background-color: #FFF0D1;
    background-size: cover;
    

}

header h1 {
    text-align: center;
    font-family: feldberg;
    font-size: 125px;
    color: #493628;
}



.navbar {
    position: sticky;
    top: 0;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    margin: 0;
    padding: 5rem;
    background-color: #B5EAEA;

}

nav{
    background: #493628;
    padding: 0.5rem;
    

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul h1 {
    color: white;
    font-family: feldberg;
    font-size: 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    font-size: 30px;   

}

nav ul li a:hover {
    background-color: #D4F6FF;   
    color: #493628;
    border-radius: 25px;
    transition: 0.3s;

}

.container h1 {
    font-family: Artisan-Paris;
    font-size: 6rem;
    text-align: center;
    margin: 10rem;

}

.container a {
    text-decoration: none;
    color: black;
    border: black solid 2px;
    padding: 40px;
    font-family: Lemon-Milk;

}

.container a:hover {
    background-color: #493628;
    color: #B5EAEA;
    transition: 0.9s;
}

.container{
    padding: 4rem;
    text-align: center;
}

footer {
    color: #FFF4EA;
    font-size: 30px;
    padding: 1rem;
    background-color: #493628;
    text-align: center;
}